nav {
  background-color: rgb(53, 53, 124);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  flex-wrap: nowrap;
  height: 70px;
  align-items: center;
  border-bottom: 1.5px solid rgb(58, 58, 146);
}

.nav-links {
  text-decoration: none;
  color: white;
  margin: 0 50px;
  font-weight: bold;
}

.nav-links:hover {
  color: LIGHTSEAGREEN;
}

.secondary {
  color: LIGHTSEAGREEN;
}

@media screen and (max-width: 450px) {
  .nav-links {
    margin: 0 10px;
  }
}
